.formControlContainer {
    margin-bottom: 13px;
}
.formControl{
    padding: 10px;
    padding-bottom: 0px;
    width: 460px;
    display: flex;
    justify-content: space-between;
}
.formControl input {
    width: 200px;
    height: 25px;
}

.invalidMessageContainer {
    padding-left: 0px;
    color: red;
}
.formContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttonContainer button{
    padding: 5px 10px;
    margin: 10px;
}
.invalidControl {
    border-color: red;
}
form {
    display: flex;
}
.field-container {
    margin-left: 50px;
}
.editclockForm h1{
    padding-left: 45px;
    color: #07234c;
}
.buttonContainer {
    display: flex;
    align-items: flex-end;
    margin-bottom: 11px;
    height: 80px;
    margin-left: 40px;
}
.editclockForm form {
    display: flex;
    flex-direction: column;
}